body {
    margin: 0;
    padding: 20px;
    background: #e8e2e1;
    font-family: ArialBlack;
}

.foto-box {
    position: absolute;
    top: 75px;
    left: 900px;
}

.foto-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
}

.wrapper{
  display:flex;
  align-items:center;
  gap:20px;
  max-width:800px;
  margin:40px auto;
}

.foto-profil{
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #ffffff;
  display:block;
  margin-left:200px;
  margin-top:20px;
}

.kotak-nama{
  color:rgb(0, 0, 0);
  padding:0 24px;
  border-radius:20px;
  height:100px;
  width:525px;
  display:flex;
  align-items:center;
  justify-content: center;
  left:300px;
  top:20px;
  position: relative;
  background-color: transparent;
  font-size: 40px;
}

.kotak-datapribadi{
  color:white;
  padding:0 24px;
  border-radius:10px;
  height:50px;
  width:300px;
  display:flex;
  align-items:center;
  justify-content: center;
  top: 300px;
  left: 100px;
  position: relative;
  background-color: rgb(68, 68, 68);
}

.kotak-datapribadi h2{
  margin:0;
  font-size:30px;
  letter-spacing:1px;
  font-family:"Open Sans",sans-serif;
  color:#ffffff
}

.biodata-box {
    width: 900px;   
    max-width: 1000px;          
    border: 2px solid transparent;
    border-radius: 10px;       
    padding: 2px;             
    top: 150px;
    left: 100px;
    position: relative;   
    font-family:"arial",sans-serif;   
    background-color: transparent
}

.biodata-box h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.biodata-table {
    width: 120%;
    font-size: 20px;
}

.biodata-table td {
    padding: 2px 0;
}

.kotak-riwayat{
  color:white;
  padding:0 24px;
  border-radius:10px;
  height:50px;
  width:250px;
  display:flex;
  align-items:center;
  justify-content: center;
  top: 600px;
  left: 100px;
  position: relative;
  background-color: rgb(68, 68, 68);
}

.kotak-riwayat h2{
  margin:0;
  font-size:30px;
  letter-spacing:1px;
  font-family:"Open Sans",sans-serif;
  color:#ffffff
}

.riwayat-box {
    width: 700px;
    border: 2px solid: transparent;
    border-radius: 10px;
    padding: 2px;
    top: 300px;
    left: 100px;
    position: relative;
    font-family:"arial",sans-serif;
    background-color: transparent;
}

.riwayat-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.riwayat-table {
    width: 100%;
    font-size: 20px;
}

.riwayat-table td {
    padding: 5px 0;
}

.kotak-satu {
    width: 600px;
    height: 300px;
    margin-top: -1100px;
    margin-left: -250px;
    background-color: #00370a;
    border: 3px solid #333;
    text-align: center;
    padding-top: 20px;
    transform: rotate(-22deg)
}

.kotak-dua {
    width: 600px;
    height: 300px;
    margin-top: -395px;
    margin-left: -180px;
    background-color: #2b7434;
    border: 3px solid #333;
    text-align: center;
    padding-top: 20px;
    transform: rotate(-22deg)
}

.hoby-box {
    width: 700px;
    border: 2px solid: transparent;
    border-radius: 10px;
    padding: 2px;
    top: 400px;
    left: 100px;
    position: relative;
    font-family:"arial",sans-serif;
    background-color: transparent;
}

.hoby-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.hoby-table {
    width: 100%;
    font-size: 20px;
}

.hoby-table td {
    padding: 5px 0;
}

.kotak-hoby{
  color:white;
  padding:0 24px;
  border-radius:10px;
  height:50px;
  width:250px;
  display:flex;
  align-items:center;
  justify-content: center;
  top: 250px;
  left: 100px;
  position: relative;
  background-color: rgb(68, 68, 68);
}

.kotak-hpby h2{
  margin:0;
  font-size:30px;
  letter-spacing:1px;
  font-family:"Open Sans",sans-serif;
  color:#ffffff
}